/*Mobile*/

@media screen and (min-width:400px) {
  


:root {
  --violet-main: #9356DC;
  --violet-second: #F5EDFF;
  --grey-main: #f2f2f2;
  --grey-dark: #d9d9d9;
  --white-main: #ffffff;
}
  

*{margin:0; 
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


body{
  width: 100%;
}



.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  animation: fadeOut 2s forwards;
  animation-delay: 2s; /* Adjust the delay to match the length of your loader animation */
z-index: 100;
}

.loader-box {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 5rem;
  transform: scale(1);
  background-color: rgb(255, 255, 255);
  border-radius: 150px;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loaderSize .25s infinite ease-in-out, loaderColor 0.21s infinite ease-in-out;
  color: #9356DC;
  box-shadow: 0 0 15px #fff;
}

@keyframes loaderCircle {
  /* ... */
}

@keyframes loaderSize {
  0% {
      transform: scale(1) rotate(0);
  }
  16% {
      transform: scale(0) rotate(0);
  }
  50% {
      transform: scale(1) rotate(0);
  }
}

@keyframes loaderColor {
  5% {
      color: #9356DC;
  }
  10% {
      color: #FF79DA;
  }
  39% {
      color: #FF79DA;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


/* logo */
.logo {
  display: flex;
  justify-content: center;
  }

  .logo img{

    padding: 3%;
    width: 35%;
  }

 
 /*  Position and details of the Icon and location at the bottom of the logo */
  .location{
    height: 2rem;   
    display: flex;
    justify-content:center;
    align-items:center;
    gap:5%;
    border-top: 3px solid #e9E9E9;;
    background-color:#ededed;
 }


    .annonce  {
      background-color:#f7f7f7;
      padding-bottom:1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1.7rem;
      padding-bottom:2.5rem;
      height: 30vh;
    } 

    .annonce h1  {
      font-size:x-large;
      width:17ch;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .annonce p{
      font-family: 'Roboto', sans-serif;
      font-size: 60%;
      font-weight: 100;
      display: flex;
      justify-content: center;
      text-align: center;
      padding:5%;
      width:33ch;
    }


    .btn-header{
    display: flex;
  border-radius: 3rem;
  color: white;
  border:transparent;
  padding: 0.6rem;

}


.btn{
  background-image:linear-gradient(#FF79DA,#9356DC);
}
button p{
  color: white;
  font-size: 80%;
  margin: 3%;
  font-weight: 400;

}

.function-3-stages{
margin-top: 9%;
}

.function-3-stages H2, h3{

margin-left: 7%;
margin-left: 7%;
font-size: 1.2rem;
}

.three-stages-container{
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 1em;
}

.container-stage{
  
  border-radius: 1.4rem;
  display: flex;
  flex-direction: row;
  padding: 1.1em;
  align-items: center;
  gap: 2%;
  margin-right: 3.5vh;
  margin-left: 3vh;
  background-color: #f7f7f7;
  box-shadow: .25rem 0.25rem 0.5rem lightgray;
}

.three-stages-container i:hover{
  color:
  #ffadef;
   
}

.container-stage:hover {
  background-color:#F5EDFF;
}

.stage-number{
display: flex;
justify-content: flex-start;
align-items: flex-start;
align-self: flex-start;

  
}

.number{

  margin-left: -2em;
  color: white;
}
.number p{

    
    background: #9356DC;
    border-radius: 93px;
    padding:0.69em 1.1em 0.69em;
    Width: 16%;
    font-size: 0.66em;
    display: flex;
    position: relative;
    margin:2%;
}
.restaurant-container, footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.restaurant-card{

display: flex;
Margin: 2%;
justify-content: center;
flex-direction: column;
border-radius: 23px;
background-color:var(--grey-main);
box-shadow: 0.1em 0.1em 0.4em;
/* gap: 5vh; */
width:91%;
}
.restaurant-card-sec {
  background-color: #f7f7f7;
  padding-bottom: 13%;
  padding-top: 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
 
.novelty{

  background: #99E2D0;
  
 
width: 9vh;
position: absolute;
padding: 0.17em;
padding-left: 0.8em;
}

.novelty b {
  font-weight: bolder;
  color:#008766;
}
.img-card{width: 100%;}
.img-card-2{
  display: flex;
  flex-direction: row-reverse;

  justify-content: flex-start;
  text-decoration: none;
  }

.img-card-2  p{
  margin-bottom: 22VH;

}
.restaurant-card a{
  text-decoration: none;
  background-color: white;
  border-radius: 8%;
}
.restaurant-card i{
  display: flex;
  flex-direction: row-reverse;
  color:gray;
  margin-top: 1.1%;
  font-size: 1.3rem;
    margin-bottom: 5%;
  
}
.info-card{
  display: flex;
  flex-direction: row-reverse;
}

.card-food-price{
  display: flex;
  flex-direction: column;
  width: 100%;
}
}


.img-card img, .img-card-2 img{width:100%;
  display: flex;
  
  justify-content: center;
  border-radius: 23px 23px 0px 0px;
  object-fit: cover;
  
}



h4, .restaurant-card P {
  margin-left: 0.9em;
  margin:2%
} 
 

 

h4, .restaurant-card P{
  color: black;
}
.restaurant-card P{
  font-weight: 300;
  
}

footer{
  display: flex;
  flex-direction: column;
 
  background-color: #3f3b3b;
 }
footer a, li{
  text-decoration: none;
  color:white;
  display: flex;
 font-size: 20px;
 white-space: nowrap;

}

footer h4{

  font-family: 'Shrikhand', cursive;
  font-weight: bolder;
  font-size: 22px;
 color: white;
 padding-top: 0.6rem;
 margin-left: unset;
 margin-right: 39%;
   
}

 .animatiion-heart{
  display: grid;
  grid-template-rows:0.11rem;
 }
.fa-regular{
  padding-right: 1rem;

}
.fa-regular:hover{
color:transparent;
 width:5%;

}
.fa-solid.fa-heart{
color:transparent;

}
.fa-solid.fa-heart:hover{
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;  
  }

footer ul{

  display: flex;
  flex-direction: column;
  padding-bottom:3%;
}

}




/*tablet*/

@media only screen and (min-width: 568px)
{

  .annonce{
    padding-top: 5%;
    height: unset;
  }
  .annonce p{
    padding: 3%;
    font-size: 89%;
  }
   
  .function-3-stages H2, h3 {
    margin-bottom: -1%;
    margin-left: 18%;
    margin-left: 12%;
   
    
}
 
  h2{
    margin-left: 19%;
    margin-top: 0;
    font-size: 1.3rem;
  }
.three-stages-container{
  flex-direction: row;
  gap: 2.5em;
    justify-content: center;
}

.restaurant-choice{
    width: 12em;

}
.restaurant-container{
  flex-direction: row;
  padding-left: 5rem;
}
.container-stage{
  margin-right: 0.1vh;
  margin-left: 0.1vh;
  padding: 0.45em;
}
.restaurant-choice p{
  padding: 4%;

  white-space: nowrap;

}
.restaurant-card-sec {
  background-color: #f7f7f7;
  padding-bottom:0;
  padding-top: 0;
}
.restaurant-card a{

  width: 20rem;

}
.container-stage:hover {
  background-color:#F5EDFF;
}

.number {
  margin-left: -1.6em;
  color: white;
  margin-top: 0.8rem;
}
.number p{
  Width:14%;

}
.function-3-stages {
 margin-top: 0;

}
.function-3-stages h2{
  margin-bottom: -2%;
}

.logo img {
  padding: 1%;
  width: 17%;
}
.location {
  padding: 0;
  height: 1.9rem;
  gap:1%;
}
.annonce h1, .annonce p {
  white-space: nowrap;
  line-height: 7%;
}
.btn-header{
  width: unset;
}
.restaurant-card-sec {
 
  padding-bottom: 5%;
  padding-top: 0;
}
.restaurant-card.restaurant-card-sec{
  display: flex;

}
footer ul{
flex-direction: row;
  margin-top:0.9rem;
}
footer h4{
  margin-bottom:
}
.footer-container{
  display:flex;
  flex-direction:row-reverse;
}

.h3{
  padding-top: 0;
}

}    


/*Desktop*/

@media only screen and (min-width: 769px)
{
  

  .logo img{ 
       
    width: 13%;
    padding: 1%;
      
  }
  .location{
    gap:1%;
    height: unset;
    padding: 0.6%;
  }
 
  .annonce p{
    line-height:0;
    padding:3%;
  }

  .btn-header{
   
    width:100%;
    margin-top: 0;
   height:unset;
    border-radius: 3rem;
  }
  .three-stages-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3%;
  
}
  .container-stage {
    width: unset;
    padding: 1em;
  }
  .container-stage:hover {
    background-color: #F5EDFF;
  }
 
  .container-stage p{
    gap: 1em;
  }

  .restaurant-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:unset;
    background-color: #f7f7f7;
    flex-direction: row;
    width:100%;
 
}


.restaurant-card{
  width: 40%;
}
.restaurant-card-sec{
  padding-bottom: 5%;
    padding-top:0;
    padding-right: 5%;
    padding-left: 5%;
}
}

 .restaurant-choice{
  width: 25vh;
  white-space: nowrap;
  padding: 0.5em;
 } 

.function-3-stages{ 
    margin-left:7%;
    font-size: 22px;
    font-size: 90%;
    margin-top:1%;  
    display: flex;
    width:55rem;
    justify-content: center;
}


.function-3-stages H2,h3{
  margin-bottom:-1%;
  margin-left:14%;
}

h3{

  margin-bottom: 0;
  margin-left: 19%;
  font-size: 22px;
 
}

.container-stage i:hover {
  color:
  #9356DC;
   
}

.annonce {
  background-color: #f2f2f2;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.7rem;
  padding-bottom: 2.5rem;
  height: unset;
  white-space: nowrap;
  font-size: 140%;
}

h4{
  position: relative;
    left: 0;

}


Ul {
  margin-right: 18EM;
  display: flex;
  flex-direction: row;
  position: relative;
  

  gap: 1%;

}

li a{font-size: 16px;}


footer a{
  
  
}
.fa-solid{
  padding-right: 1rem;
}

footer h4{
  
  margin-top:unset;
  margin-right: 3%;

}
 footer ul {
  padding-bottom: 0;

 }
.footer-container
{flex-direction:row-reverse;
  gap:3%;

} 
}


